@import "tailwindcss";
/* @tailwind components; */
@tailwind utilities;

.tippy-box[data-theme~="small-text"] {
  @apply bg-white border border-gray-300 shadow-lg text-gray-700 text-xs;
}

.tippy-box[data-theme~="small-text"] .tippy-content {
  @apply py-1 px-2;
}

.tippy-box[data-theme~="small-text"] .tippy-arrow {
  @apply text-gray-300;
}
.line-clamp-2,
.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* allow wrapping so clamp works */
  overflow-wrap: anywhere;
  word-break: break-word;
}
/* single-line truncate */
.truncate-short {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}